<div style="text-align:center;">
  <h1>
    Customer Management Portal
  </h1>
</div>
<div class="container padding-top justify-center">
  <div class="row justify-content-center">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <p>This can be used by either customers looking to modify their information without needing to login but just providing their ID Number.</p>
          <button type="button" routerLink="/customer-find" class="btn btn-block btn-lg btn-dark">Find Customer</button>
        </div>
      </div>
    </div>
    <div style="text-align:center" class="col">
      <div class="card">
        <div class="card-body">
          <p>This can be used by either an admin or a registered user to modify customers information after login into the system using their credentials.</p>
          <button type="button" routerLink="/login" class="btn btn-block btn-lg btn-dark">Manage Customers</button>
        </div>
      </div>
    </div>
  </div>

</div>
